.skills-bento-container{
    max-width: 76%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.skill-bento-card{
    border: 1px solid red;
    width: 23.2%;
    height: 25rem;
    margin: 8px;
    border-radius: 6px;
}

.big-bento-card{
    width: 48%;
}